@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make date/time input picker icons black */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
  cursor: pointer;
}
